.containerFilters{
    text-align: center;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.6rem;
    justify-items: center;
    padding-bottom: 3rem;
}
.contentTitle{
    grid-column: 1/3;
}
.textAll{
    font-family: var(--secondary-font);
    font-size: 1rem;
}
.title{
    font-family: var(--primary-font);
    margin: 0.3rem 0 0;
    font-size: 2.5rem;
}
.titleFilter{
    font-family:var(--secondary-font);
    font-weight: 400;
    margin-bottom: 1.8rem;
    font-size: 1rem;
}

.contentFilters{
    display: flex;
    flex-direction: column;
}

.buttonFilters{
    display: flex;
    gap: 1rem;
}
.btnFilter{
    padding: 0.8rem 2rem;
    transition: .3s;

    background-color: var(--secondary-color);
    color: #fff;
}
.btnFilter:hover{
    background-color: #fff;
    color: var(--secondary-color);
}